<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casino - Jugando</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <div class="header-vegas">
        <img src="/static/logo-vegas.svg" alt="Las Vegas" style="width: 250px; max-width: 80vw;">
    </div>

    <div class="balance-card">
        <span id="display-puntos">$1000</span>
    </div>

    <h3 id="instruccion">Elige un número:</h3>

    <div class="grid-opciones" id="contenedor-opciones">
        <button class="opcion-btn" onclick="seleccionarOpcion(1)">1</button>
        <button class="opcion-btn" onclick="seleccionarOpcion(2)">2</button>
        <button class="opcion-btn" onclick="seleccionarOpcion(3)">3</button>
        <button class="opcion-btn" onclick="seleccionarOpcion(4)">4</button>
        <button class="opcion-btn" onclick="seleccionarOpcion(5)">5</button>
        <button class="opcion-btn" onclick="seleccionarOpcion(6)">6</button>
    </div>

    <div class="apuesta-container">
        <button class="apuesta-btn" onclick="apostar('ALL')">ALL IN!</button>
        <button class="apuesta-btn" onclick="apostar(400)">400</button>
        <button class="apuesta-btn" onclick="apostar(200)">200</button>
        <button class="apuesta-btn" onclick="apostar(100)">100</button>
    </div>
    <div style="margin-top: 20px;">
        <button onclick="confirmarApuesta()" class="apuesta-btn" style="width: 250px; border-radius: 10px; background: lime;">
            CONFIRMAR APUESTA
        </button>
        </div>
    <div style="margin-top: 20px;">
        <a href="/ranking" style="color: yellow; text-decoration: none;">Ver Tabla de Posiciones</a>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
