<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casino - Jugando</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <div class="header-vegas">
        <img src="/static/logo-vegas.svg" alt="Las Vegas">
    </div>

    <h2 id="ronda-display">RONDA 1</h2>

    <div class="balance-card">
        <span id="display-puntos">$1000</span>
    </div>

    <div id="mensaje-espera" style="display:none; font-size: 2.2rem; margin: 30px 10px; color: cyan; font-weight: bold;">
        </div>

    <div id="controles-juego">
        <h3 id="instruccion">¡Nueva ronda! Elige tu opción:</h3>

        <div class="grid-opciones" id="contenedor-opciones">
            </div>

        <div class="apuesta-container">
            <button class="apuesta-btn" onclick="seleccionarPlata('ALL', this)">ALL IN!</button>
            <button class="apuesta-btn" onclick="seleccionarPlata(400, this)">400</button>
            <button class="apuesta-btn" onclick="seleccionarPlata(200, this)">200</button>
            
            <input type="number" id="monto-manual" placeholder="OTRO" oninput="seleccionarPlata(this.value, this)">
        </div>

        <div class="confirmar-container">
            <button onclick="confirmarApuesta()" class="btn-verde" style="width: 250px; height: 60px; font-size: 1.4rem; border-radius: 15px; cursor: pointer;">
                CONFIRMAR APUESTA
            </button>
        </div>

        <div style="margin-top: 25px;">
            <a href="/ranking" style="color: yellow; text-decoration: none; font-weight: bold;">📊 Ver Tabla de Posiciones</a>
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
